<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--定义文档导出过滤器-->
	<filter>
		<filter-name>eXtremeExport</filter-name>
		<filter-class>org.extremecomponents.table.filter.ExportFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>eXtremeExport</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 定义ActionContextCleanUp过滤器 -->
	<filter>
		<filter-name>struts-cleanup</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-cleanup</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--定义sitemesh过滤器	-->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 定义struts2核心过滤器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>proxoolInitialServlet</servlet-name>
	 	<servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
	    <init-param>
	       <param-name>xmlFile</param-name>
	       <param-value>WEB-INF/proxool.xml</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
     </servlet>

	<jsp-config>
		<taglib>
			<taglib-uri>/tld/extremecomponents</taglib-uri>
			<taglib-location>/WEB-INF/tld/extremecomponents.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jstl/fmt-1_0</taglib-uri>
			<taglib-location>/WEB-INF/tld/fmt-1_0.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/fmt-1_0-rt</taglib-uri>
			<taglib-location>/WEB-INF/tld/fmt-1_0-rt.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core-1_0-rt</taglib-uri>
			<taglib-location>/WEB-INF/tld/c-1_0-rt.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core-1_0</taglib-uri>
			<taglib-location>/WEB-INF/tld/c-1_0.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
			<taglib-location>/WEB-INF/tld/sql.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jstl/sql-1_0</taglib-uri>
			<taglib-location>/WEB-INF/tld/sql-1_0.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jstl/sql-1_0-rt</taglib-uri>
			<taglib-location>/WEB-INF/tld/sql-1_0-rt.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
			<taglib-location>/WEB-INF/tld/x.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jstl/x-1_0</taglib-uri>
			<taglib-location>/WEB-INF/tld/x-1_0.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jstl/x-1_0-rt</taglib-uri>
			<taglib-location>/WEB-INF/tld/x-1_0-rt.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jstl/fn</taglib-uri>
			<taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jstl/permittedTaglibs</taglib-uri>
			<taglib-location>/WEB-INF/tld/permittedTaglibs.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jstl/scriptfree</taglib-uri>
			<taglib-location>/WEB-INF/tld/scriptfree.tld</taglib-location>
		</taglib>
		
				<taglib> 
<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri> 
<taglib-location>/WEB-INF/tld/c.tld</taglib-location> 
</taglib> 
<taglib> 
<taglib-uri>http://java.sun.com/jsp/jstl/xml</taglib-uri> 
<taglib-location>/WEB-INF/tld/x.tld</taglib-location> 
</taglib> 
<taglib> 
<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri> 
<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location> 
</taglib> 
<taglib> 
<taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri> 
<taglib-location>/WEB-INF/tld/sql.tld</taglib-location> 
</taglib> 
	</jsp-config>
	
	<welcome-file-list>
		<welcome-file>/index.action</welcome-file>
	</welcome-file-list>

</web-app>
