@charset "utf-8";
/* CSS Document */
/* 头部 */
#topline {
	clear:both; height:3px; width: expression(this.offsetParent.clientWidth<1024?"1002px":"100%"); background-color:#FF9933;
}
#top {
	width:100%;
}
#header {
	margin:auto;
	width:994px;
	height:72px;
	position:relative;
}
	.logo {
		float: left
	}
	.lng {
		margin-top:8px;
		float: right;
		margin-right:2px;
		text-align: right;
	}	
#header li {
	float:left;
	padding:3px;
}
/* 导航 */
#bar {
	height:23px; width:994px; margin:auto; color:#ffffff; background-color:#DD362F;
}
	#wel {
		float:left; height:22px; margin:2px;
	}
	#nav {
		float:right; margin-right:4px; padding-top:2px; font-size:120%; font-weight:bold;
	}
/* 中间 */
#box {
	width:994px;
	margin:auto;
	clear:both;
}
#left {
	width:690px;
	height:480px;
	float:left;
}
#right {
	width:280px;
	height:480px;
	float:right;
}
#ibox {
	margin-top:8px;
	border:1px dotted #cccccc;
	width:700px;
	overflow: hidden;	
}
#ibox2 {
	margin-top:8px;
	border:1px solid #cccccc;
	width:280px;
	overflow: hidden;	
}
#ibox_ti {
	width:100%;
	height:20px;
	background-color: #eeeeee;
	border-left: #ff3300 solid 6px;	
	border-bottom: 1px dotted #cccccc;
	padding-left: 4px;
	padding-top: 2px;	
	font-size:110%;
	font-weight:bold;
	color:#006600;
}
#ibox2_ti {
	width:100%;
	height:20px;
	background-color: #eeeeee;
	border-bottom: 1px solid #cccccc;
	padding-left: 4px;
	padding-top: 2px;	
	font-size:110%;
	font-weight:bold;
	color:#dd362f;	
}
#ibox_co {
	width:100%;
	height:200px;
}
/* 底部 */
#footer {
	width:994px;
	margin:auto;
	height:40px;
	clear:both;
	border-top:#FF3300 3px solid;
}
#footer p {
	text-align:center;
	padding-top:6px;
}
